.admin-layout {
  padding: 20px 30px;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05);
  background-color: var(--primary-color);
}

.admin-layout h1 {
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: 25px;
  color: var(--text-color);
}

.admin-layout nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

.admin-layout nav a {
  text-decoration: none;
  color: #333;
  padding: 8px 14px;
  border-radius: 8px;
  transition: all 0.3s ease;
  font-weight: 500;
  border: 2px solid transparent;
}

.admin-layout nav a:hover {
  background-color: var(--secondary-color);
}

.admin-layout nav a.active {
  background-color: var(--secondary-color);
}

.admin-layout>div {
  background-color: transparent;
}

table {
  width: 100%;
  border: 2px solid var(--secondary-color);
  background-color: var(--background-color);
  border-collapse: collapse;
}

table th,
table td {
  padding: 12px;
  text-align: left;
}

table th {
  border-bottom: 2px solid var(--secondary-color);
}

.employee-container h3 {
  margin: 1rem;
  font-weight: 500;
}

table button {
  padding: 8px 12px;
  border-radius: 8px;
  border: 2px solid var(--secondary-color);
  background-color: var(--primary-color);
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
  overflow: hidden;
}


table button::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: var(--secondary-color);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

table button:hover::before {
  scale: 3;
}

table button:hover {
  scale: 1.1;
  box-shadow: 0px 0px 13px 10px rgba(190, 240, 188, 0.4);
}

table button:active {
  scale: 1;
}

