nav ul {
    display: flex;
    justify-content: center;
    margin: 1rem auto 3rem auto;
}

nav ul li {
    list-style: none;
    margin: 1rem 0.5rem 8px;
}

nav img{
    width: 7vw;
    margin-top: -1.2rem;    
}

nav ul li a {
    color: black;
    padding: 0.7rem 1rem;
    text-decoration: none;
    border-radius: 9px;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    background-color: var(--secondary-color);
}