nav {
    display: flex;
    justify-content: center;
    margin-bottom: 10rem;
}

nav ul {
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 80%;
    margin: 2rem;
    z-index: 1;
    border-radius: 1rem;
    border: 7px solid var(--primary-color);
    align-items: center;
    height: 5rem;
    box-shadow: 0 0 0 2px white inset;
    transition: top 0.5s ease;
}

nav ul li {
    list-style: none;
    margin: 1rem 0.5rem 8px;
}

nav img {
    width: 7rem;
    margin-top: -0.2rem;
    background: white;
    border-radius: 50%;
    border: 3px solid var(--secondary-color);
}

nav ul li a {
    color: white;
    padding: 0.7rem 1rem;
    text-decoration: none;
    border-radius: 9px;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    background-color: var(--secondary-color);
}